body {
	font-family: "Crimson Text", "Times New Roman", Times, serif;
	background-color: #fff1e5;
	color: #33302e;
	display: flex;
	justify-content: center;
	margin: 0;
}
::-webkit-scrollbar {
	display: none;
}
img {
	background-color: #332c28c9;
	border-radius: 0.25rem;
}
nav {
	display: flex;
	gap: 1rem;
	margin: 0.5rem 0;
	flex-wrap: wrap;
}
nav a {
	word-wrap: none;
}
nav a:first-child {
	margin-right: 1rem;
}
a {
	color: #332c28;
	text-decoration: underline;
}
body > div {
	min-height: calc(100vh - 1rem);
	width: 90%;
	max-width: 800px;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
}
hr {
	border: 0;
	border-top: 1px solid #332c28;
	margin: 1rem 0;
}
main {
	flex-grow: 1;
}
article {
	display: flex;
	font-size: 1.125rem;
	width: 100%;
}
article > h3 {
	font-weight: normal;
	font-size: inherit;
	margin: 0 1rem 0 0;
}
details > *:not(summary) {
	margin-left: 2rem;
}
h1 {
	color: #332c28;
	font-size: 2.25rem;
	margin: 0.5rem 0;
}
h2 {
	color: #332c28;
	font-size: 1.75rem;
	margin: 1rem 0;
}
main > section:not(:first-child) > h2 {
    margin-top: 2.5rem;
}
details {
	margin: 1.75rem 0;
}
summary {
	cursor: pointer;
}
dt,
dd,
p,
summary,
nav {
	font-size: 1.125rem;
}
dd > dl {
	margin: 0;
}
footer {
	margin: 1.5rem 0 0.75rem 0;
	padding: 0.5rem;
	text-align: center;
	flex-shrink: 0;
}