:root {
    /* MAIN COLORS */
    --primary-color: #f5f5f5;
    --secondary-color: #242424;
    --test-bg-color: rgba(255, 153, 0, 0.1);

    /* MAIN FONTS */
    --loading-font: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --main-font: "EB Garamond";

    /* ADDITIONAL GLOBAL STYLING */
    --underline-height: 0.5vw;
    --box-shadow-bloom: 1vw;
    --card-main: 50vw;

    /* FRAME WIDTH AND HEIGHT */
    --full-frame-width: 100vw;
    --full-frame-height: 100vh;

    /* INTRO CARD - CONTROL VARIABLES */
    --card-header-fsize: calc(var(--card-main) * 0.09);
    --intro-menu-fsize: calc(var(--card-main) * 0.04);

    /* ABOUT CARD - CONTROL VARIABLES */
    --about-uni-name-fsize: calc(var(--card-main) * 0.032);
    --about-uni-context-fsize: calc(var(--card-main) * 0.03);

    /* LIKE CARD - CONTROL VARIABLES */
    --like-quote-channel-fsize: calc(var(--card-main) * 0.0211);
    --like-quote-attribution-fsize: calc(var(--card-main) * 0.015);
    --like-channel-icon-spacing: calc(var(--card-main) * 0.01);
    --like-channel-icon-dimension: calc(var(--card-main) * 0.03);

    /* EXP CARD - CONTROL VARIABLES */
    --exp-timeline-item-height: calc(var(--card-main) * 0.075);
    --exp-timeline-primary-fsize: calc(var(--card-main) * 0.038);
    --exp-timeline-secondary-fsize: calc(var(--card-main) * 0.025);
    --exp-timeline-triangle-dimension: calc(var(--card-main) * 0.012);
    --exp-timeline-sub-fsize: calc(var(--card-main) * 0.018);
    --exp-contact-link-margin: calc(var(--card-main) * 0.02);

    /* CONTACT CARD - CONTROL VARIABLES */
    --contact-text-fsize: calc(var(--card-main) * 0.033);
    --contact-email-fsize: calc(var(--card-main) * 0.05);
    --contact-email-margin: calc(var(--card-main) * 0.003);
    --contact-email-copy-height: calc(var(--card-main) * 0.035);
}

/* STANDARD BODY POSITIONING */

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

body {
    position: absolute;
    height: var(--full-frame-height);
    width: var(--full-frame-width);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* HELLO INTRO */

.hello-intro {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);

    visibility: hidden;
    opacity: 0%;

    transition: opacity 1s;
}

.hello-text {
    margin: 0;
    color: var(--secondary-color);
    font-family: var(--loading-font);
    font-size: 16vw;
    font-weight: 300;
    letter-spacing: 0px;
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 3vw;
    margin: auto;
}

.progress-bar .bar {
    position: relative;
    width: 0%;
    height: 1.5vw;
    background-color: var(--secondary-color);
}

.bar.pb-active {
    width: 100%;
    transition: width 1s;
}

.progress-bar .bar .text {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0s;
    position: absolute;
    right: 0;
    transform: translateY(2vw);
    color: var(--secondary-color);
    font-size: 1.5vw;
    font-family: var(--loading-font);
    font-weight: bold;
}

.progress-bar .bar .text.shown {
    visibility: visible;
    opacity: 100%;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
    visibility: hidden;
    /* height: 100vh; */
}

/* CARD STYLING */

.card {
    position: relative;
    /* position: absolute; */
    width: var(--card-main);
    height: calc(var(--card-main) * 0.5625);
    overflow: hidden;
    background-image: url("files/white-texture.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
        0 0px 20px 0 rgba(0, 0, 0, 0.19) !important;
    /* transform: translateY(100vh); */
    /* animation: flip-with-rotate 2s infinite; */
}

.intro-header,
.about-header,
.like-header,
.exp-header,
.contact-header {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: var(--card-header-fsize);
    margin: 0;
    padding: 0;
}

.intro-header,
.contact-header {
    text-align: center;
}

.exp-header {
    text-align: right;
}

.about-card .about-portrait,
.like-book-section .book-row .book,
.exp-image,
.channels .channel-item .channel-icon-wrap .channel-icon {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* INTRO CARD */

.intro-card .intro-header-section {
    position: absolute;
    width: 80%;
    top: 40%;
    right: 50%;
    transform: translate(50%, -50%);
}

.intro-card .intro-header-section .intro-header {
    font-size: var(--card-header-fsize);
}

.intro-card .menu-section {
    font-size: var(--intro-menu-fsize);
    position: absolute;
    width: 60%;
    bottom: 8%;
    right: 50%;
    transform: translateX(50%);
}

.intro-card .menu-section .menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    list-style-type: none;
    font-family: var(--main-font);
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.intro-card .menu-section .menu-list .menu-item {
    position: relative;
}

.intro-card .menu-section .menu-list .menu-item:hover,
.about-card .like-link:hover,
.exp-items .cta .contact-link-text:hover {
    cursor: pointer;
}

.intro-card .menu-section .menu-list .menu-item::after,
.about-card .like-link::after,
.exp-items .cta .contact-link-text::after {
    content: " ";
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: 100%;
    height: var(--underline-height);
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
}

.intro-card .menu-section .menu-list .menu-item:hover::after,
.about-card .like-link:hover::after,
.exp-items .cta .contact-link-text:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ABOUT ME CARD */

.about-card .about-portrait {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 31%;
    z-index: 1;
}

.about-card .about-header-section {
    position: absolute;
    width: 40%;
    top: 6%;
    left: 6%;
}

.about-card .about-text-section {
    font-family: var(--main-font);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35%;
    top: 10%;
    right: 6%;
}

.about-card .about-text-section .uni-name,
.about-card .about-text-section .uni-context,
.about-card .about-text-section .like-link {
    text-align: right;
    margin: 0;
    padding: 0;
}

.about-card .about-text-section .uni-name {
    flex-grow: 0.2;
    font-size: var(--about-uni-name-fsize);
}

.about-card .about-text-section .uni-context {
    font-size: var(--about-uni-context-fsize);
    font-style: italic;
}

.about-card .like-link {
    position: absolute;
    font-size: var(--intro-menu-fsize);
    font-family: var(--main-font);
    bottom: 30%;
    right: 6%;
}

/* LIKE CARD */

.like-card .like-card-content {
    height: 100%;
}

.like-card .like-header-section {
    position: absolute;
    width: 40%;
    top: 6%;
    right: 6%;
}

.like-card .like-header-section .like-header {
    font-weight: 200;
}

.quote-header,
.book-header,
.channel-header {
    font-family: var(--main-font);
    font-weight: 200;
    font-size: var(--intro-menu-fsize);
    margin: 0;
    padding: 0;
}

.like-card .like-quote-section {
    position: absolute;
    width: 45%;
    height: 45%;
    top: 8%;
    left: 4%;
}

.like-quote-section .quote-header {
    height: 28%;
}

.like-quote-section .quote-text {
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.like-quote-section .quote-item {
    text-align: center;
    font-family: var(--main-font);
}

.like-quote-section .quote-item .quote {
    font-style: italic;
    font-size: var(--like-quote-channel-fsize);
}

.like-quote-section .quote-item .quote-attribution {
    font-size: var(--like-quote-attribution-fsize);
}

.like-book-section {
    position: absolute;
    width: 48%;
    height: 35%;
    top: 58%;
    left: 4%;
}

.like-book-section .book-header {
    height: 35%;
}

.like-book-section .book-row {
    height: 65%;
    display: flex;
    justify-content: space-between;
}

.like-book-section .book-row .book {
    box-shadow: 0px 0px var(--box-shadow-bloom) rgba(0, 0, 0, 0.5);
}

.like-channel-section {
    position: absolute;
    width: 30%;
    height: 60%;
    bottom: 8%;
    right: 7%;
    text-align: right;
}

.like-channel-section .channel-header {
    height: 25%;
}

.channels {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.channels .channel-item {
    font-family: var(--main-font);
    font-size: var(--like-quote-channel-fsize);
    width: fit-content;
    margin-left: auto;
}

.channels .channel-item .channel-name {
    vertical-align: middle;
}

.channels .channel-item .channel-icon-wrap {
    margin-left: var(--like-channel-icon-spacing);
}

.channels .channel-item .channel-icon-wrap .channel-icon {
    vertical-align: middle;
    display: inline;
    height: var(--like-channel-icon-dimension);
    width: var(--like-channel-icon-dimension);
    border-radius: var(--full-frame-width);
    box-shadow: 0px 0px var(--box-shadow-bloom) rgba(0, 0, 0, 0.5);
}

/* EXPERIENCE CARD */

.exp-card .exp-card-content {
    height: 100%;
}

.exp-card .exp-header-section {
    position: absolute;
    width: 40%;
    top: 6%;
    right: 6%;
}

.exp-card .timeline-section .timeline-bar {
    position: absolute;
    z-index: 1;
    width: 1.2%;
    height: 85%;
    top: 7.5%;
    left: 12%;
    background-color: black;
    border-radius: var(--full-frame-width);
}

.exp-timeline-wrapper {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.time-labels,
.exp-items {
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
}

.time-labels {
    position: absolute;
    font-weight: bold;
    text-align: right;
    left: 5%;
    top: 12%;
}

.time-labels .year,
.time-labels .month {
    height: var(--exp-timeline-item-height);
}

.time-labels .year {
    font-size: var(--exp-timeline-primary-fsize);
}

.time-labels .month {
    font-size: var(--exp-timeline-secondary-fsize);
}

.exp-items {
    position: absolute;
    left: 32%;
    top: 25%;
}

.exp-items .exp-item {
    height: var(--exp-timeline-item-height);
}

.exp-items .exp-item .item-main,
.exp-items .cta {
    font-size: var(--exp-timeline-secondary-fsize);
}

.exp-items .exp-item .item-main .title {
    font-weight: bold;
    font-style: italic;
}

.exp-items .exp-item::before,
.exp-items .cta::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-top: var(--exp-timeline-triangle-dimension) solid transparent;
    border-bottom: var(--exp-timeline-triangle-dimension) solid transparent;
    border-left: var(--exp-timeline-triangle-dimension) solid black;
    transform: translate(-270%, 25%);
}

.exp-items .exp-item .item-date {
    font-size: var(--exp-timeline-sub-fsize);
}

.exp-items .cta {
    font-weight: inherit;
    margin-top: var(--exp-timeline-item-height);
}

.exp-items .cta .contact-link-text {
    position: relative;
    width: fit-content;
    margin-left: var(--exp-contact-link-margin);
    font-weight: 600;
}

.exp-image-content {
    position: absolute;
    width: 40%;
    height: 60%;
    right: 5%;
    bottom: 7.5%;
}

.exp-image {
    box-shadow: 0px 0px var(--box-shadow-bloom) rgba(0, 0, 0, 0.5);
    position: absolute;
}

#exp-research-paper {
    z-index: 3;
    width: 50%;
    rotate: 6deg;
    right: 0;
}

#exp-calendar {
    z-index: 2;
    width: 60%;
    rotate: 2deg;
    left: 10%;
    bottom: 5%;
}

#exp-webpage {
    z-index: 1;
    width: 65%;
    rotate: -8deg;
    top: 18%;
}

/* CONTACT CARD */

.contact-card .contact-card-content {
    height: 100%;
}

.contact-card .contact-card-content .contact-header-section {
    position: absolute;
    width: 100%;
    top: 6%;
}

.contact-text-section {
    position: absolute;
    width: 100%;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-text-section .contact-text {
    font-family: var(--main-font);
    font-size: var(--contact-text-fsize);
    font-weight: 0;
    text-align: center;
    width: 80%;
}

.contact-email-section {
    position: absolute;
    width: 100%;
    top: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-email-section .contact-email-wrapper {
    font-family: var(--main-font);
    font-size: var(--contact-email-fsize);
    height: min-content;
}

.contact-email-section .contact-email-wrapper .copy-email {
    margin-right: var(--contact-email-margin);
}

.contact-email-section .contact-email-wrapper .copy-email img {
    vertical-align: middle;
    display: inline;
    height: var(--contact-email-copy-height);
}